/* .wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
  overflow-y: auto;
}

.wd-modules>li {
  background-color: whitesmoke;
  border: 1px solid lightgrey !important;
  border-left: none !important;
}

.wd-modules>li>div {
  padding: 12px;
  border-left: 1px solid lightgrey !important;
}

.wd-modules>li>ul>li {
  padding: 8px;
  border-top: 1px solid lightgrey !important;
  border-left: 2px solid rgb(135, 159, 135);
}

.wd-modules>li {
  margin-bottom: 20px;
}

.round-button {
  background-color: whitesmoke;
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 2px 6px;
  outline: none;
  box-shadow: none;
}

.round-button:hover {
  background-color: rgb(179, 179, 179);
  color: white;
}

.btn-custom {
  background-color: whitesmoke;
  border: 1px solid lightgrey;
  margin: 2px 0px;
}

.btn-custom2 {
  background-color: whitesmoke;
  border: 1px solid lightgrey;
  color: black;
  margin-top: 30px;
  padding: 15px 15px;
}

.btn-custom-full {
  background-color: whitesmoke;
  border: 1px solid lightgrey;
  margin: 2px 0px;
  width: 100%;
  text-align: left;
  padding-left: 10px;
}

.btn-custom-searchbar {
  background-color: white;
  border: 1px solid lightgrey;
  margin: 2px 0px;
  width: 170px;
  text-align: left;
}

.btn-custom-ellipses {
  background-color: whitesmoke;
  border: 1px solid lightgrey;
  margin: 2px 0px;
  padding: 8px 12px;
  text-align: center;
}

.el-space {
  padding-inline: 5px;
}

.btn-custom-ellipses:hover {
  background-color: rgb(109, 128, 109);
  color: white;
}

.btn-custom-published {
  background-color: rgb(166, 189, 166);
  color: white;
  border: 1px solid lightgrey;
  margin: 2px 0px;
}

.btn-custom-published:hover {
  background-color: rgb(109, 128, 109);
  color: white;
}

.btn-custom-module {
  background-color: crimson;
  color: white;
  border: 1px solid brown;
  margin: 2px 0px;
}

.btn-custom-module:hover {
  background-color: darkred;
  color: white;
}

.link-custom {
  color: crimson;
  text-decoration: none;
}

.link-custom:hover {
  text-decoration: underline;
} */

/* .subtext {
  font-size: 10px;
  color: grey;
  text-decoration: none;
  padding: 14px;
} */

/* .subtext-assignment {
  font-size: 10px;
  color: grey;
  text-decoration: none;
  padding-left: 38px;
} */
/* 
.rounded-pill-big {
  padding: 5px 10px;
  border: 1px solid darkgrey;
} */

/* .green {
  color: rgb(135, 159, 135);
} */


.module-form-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.module-input,
.module-textarea {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  background-color: white;
  text-indent: 8px;
  color: gray;
  box-shadow: inset 1px 1px 0px rgba(0, 0, 0, 0.1);
}

.btn.btn-success.add {
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
}

.btn.btn-success.edit {
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
  margin-right: 5px;
  float: right;
}

.btn.btn-primary.update {
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
}

.btn.btn-danger.delete {
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
  float: right;
}