.wd-kanbas-navigation {
  background-color: black;
  list-style: none;
  padding: 0px;
  margin: -3px;
  width: 80px;
  height: 200vmax;
}

.wd-kanbas-navigation li {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 0.8em;
  text-align: center;
}
.wd-kanbas-navigation li.wd-active {
  background-color: white;
}
.wd-kanbas-navigation li.wd-active a {
  color: red;
}
.wd-kanbas-navigation a {
  color: white;
  text-decoration: none;
}
.wd-kanbas-navigation a i {
  color: red;
  font-size: 2em;
  margin-bottom: 5px;
}

.wd-kanbas-navigation a .icon-white {
    color: grey;
  }

.wd-navigation-breadcrumb a {
  color: red;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.wd-navigation-breadcrumb :hover {
  text-decoration: underline;
}


.wd-navigation-breadcrumb2 {
background-color: black;
color: white;
padding: 5px;
padding-top: 10px;
width: 100%;
justify-content: center;
}

.wd-navigation-breadcrumb2 .breadcrumb-item2 a, 
.wd-navigation-breadcrumb2 .breadcrumb-item2 a:hover {
  color: white;
  text-decoration: none;
}


.wd-navigation-breadcrumb2 .breadcrumb-item.active {
  color: white;
}

.breadcrumb-item2 {
  display: flex;
  padding: 5px;
  margin: 5px;
  background-color: black;
  color: white;
  text-decoration: none;

}

.custom-link {
  color: white;
  text-decoration: none;
}
.custom-link:hover {
  text-decoration: underline;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  padding: 0 5px;
  color: #6c757d;
}
