.wd-kanbas-navigation {
  background-color: black;
  list-style: none;
  padding: 0px;
  margin: -3px;
  width: 80px;
  height: 200vmax;
  
}



.wd-kanbas-navigation li {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 0.8em;
  text-align: center;
}
.wd-kanbas-navigation li.wd-active {
  background-color: white;
}
.wd-kanbas-navigation li.wd-active a {
  color: red;
}
.wd-kanbas-navigation a {
  color: white;
  text-decoration: none;
}
.wd-kanbas-navigation a i {
  color: red;
  font-size: 2em;
  margin-bottom: 5px;
}

.wd-kanbas-navigation a .icon-white {
    color: grey;
  }

.wd-navigation-breadcrumb a {
  color: red;
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.wd-navigation-breadcrumb :hover {
  text-decoration: underline;
}

/* Small devices (landscape phones, less than 576px) */
@media (max-width: small) {
  .wd-navigation-breadcrumb {
    background-color: black;
    color: white;
  }
}



/* .wd-navigation-breadcrumb2 {
background-color: black;
color: white;
padding: 10px;
} */


/* .flex-row-container {
  display: flex;
  flex-direction: column;
  width: 100%;
} */

