.context-menu {
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(96, 96, 96, 0.1);
    list-style: none;
    padding: 5px 5px;
}



.context-menu li {
    padding: 10px 10px;
    cursor: pointer;
}

.context-menu li:hover {
    background-color: #f0f0f0;
}

.list-group-item {
    position: relative;
}
